

.TestView {
  width: 90%;
}

.words {
  margin:0;
  color: var(--text);
  filter: blur(5px);
  transition: filter 0.2s ease;
  user-select: none; /* Makes the paragraph with spans (the test) unable to be selected*/
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.words-container{
  height:9rem;
  overflow-y: hidden;
  scrollbar-width: none;
}

/* focus-within: if any of its descendants gets in focus */
.TestView:focus-within .words {
  filter: blur(0);
}
.TestView:focus-within label{
  display:none;
}

label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  text-align: center;
}

label{
  color:var(--white);
}

#type-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.stat-display{
  display:flex;
  justify-content: space-around;
}
