:root{
    --white: #d9d9d8;
    --bg: #323437;
    --darkerBg: #2C2E31;
    --text: #646669;
    --keyPress: #f49595;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}


body{
    background-color: var(--bg);
}

p, h1, h2 {
    color:var(--white);
}