:root{
    --white: #d9d9d8;
    --bg: #323437;
    --darkerBg: #2C2E31;
    --text: #646669;
    --keyPress: #f49595;
}

body{
    background-color: var(--bg);
}

p, h1, h2 {
    color:var(--white);
}