.Keyboard{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    max-width: fit-content;
    padding:10px;
    border:1px solid black;
}

.row{
margin-bottom: 5px;
}