.TestView {
  position: relative;
  border: 1px solid black;
  width: 90%;
  height: 250px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: text; 
  overflow: hidden;
  
}

.words {
  font-size: 2rem;
  color: gray;
  filter: blur(5px);
  transition: filter 0.2s ease;
}

/* focus-within: if any of its descendants gets in focus */
.TestView:focus-within .words {
  filter: blur(0);
}
.TestView:focus-within #focus-error label{
  display:none;
}

#focus-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  text-align: center;
}

#focus-error label{
  font-size:2rem;
}

#type-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
